<!DOCTYPE html>
<html>
<head>
    <% include common/head.ejs %>
</head>
<body class="container">
<header>
    <% include common/header.ejs %>
</header>
<main>
    <div class="jumbotron">
        <h4>Remote logger by IftaLab</h4>
    </div>
</main>

<footer>
    <% include common/footer.ejs %>
</footer>
</body>
</html>
